{% extends 'base.html' %}

{% block content %}
<div class="jumbotron container">
  <div style="text-align:center;">
    <h2>Sign up</h2>
    <br>
    <form method="POST" action=".">
      {% csrf_token %}
      {% for field in form %}
      {% if field.errors %}
      {{ field.errors }}
      {% endif %}
      {{ field.label }}:
      <br>
      {{ field }}
      <br>
      <br>
      {% endfor %}
      <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
  </div>
</div>

{% endblock %}
