{% extends 'base.html' %}

{% block content %}
<div class="container">

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if not publishers %}
  <br>
  <h5 class="text-center">There are no publishers yet</h5>
  {% endif %}

  {% for publisher in publishers.all %}

  <ul class="list-group">
    <li class="list-group-item">

      <div class="row">
        <div class="col-md-10">
          <h5>
            <a href="{% url 'publisher-detail' publisher.id %}">{{ publisher }}</a>
          </h5>
        </div>
        <div class="col-md-1" style="float:right;">
          {% if publisher.user == request.user %}
          <a href="{% url 'update-publisher' publisher.id %}">
            <i class="fas fa-edit"></i>Edit
          </a>
          {% endif %}
        </div>
        <div class="col-md-1" style="float:right;">
          {% if publisher.user == request.user %}
          <a href="{% url 'delete-publisher' publisher.id %}">
            <i class="fas fa-times"></i>Delete
          </a>
          {% endif %}
        </div>
      </div>
    <br>
  </li>
</ul>

  {% endfor %}
  <br>
  <div style="text-align:center;">
    <button class="btn btn-primary">
      <a href="{% url 'add-publisher' %}">Add new</a>
    </button>
  </div>

</div>
{% endblock %}
