{% extends 'base.html' %}

{% block content %}
<div class="container">

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if not authors %}
  <br>
  <h5 class="text-center">There are no authors yet</h5>
  {% endif %}

  {% for author in authors.all %}
  <ul class="list-group">
    <li class="list-group-item">

      <div class="row">
        <div class="col-md-10">
          <h5>
            <a href="{% url 'author-detail' author.id %}">{{ author }}</a>
          </h5>
        </div>
        <div class="col-md-1" style="float:right;">
          <a href="{% url 'update-author' author.id %}">
            <i class="fas fa-edit"></i>Edit
          </a>
        </div>
        <div class="col-md-1" style="float:right;">
          <a href="{% url 'delete-author' author.id %}">
            <i class="fas fa-times"></i>Delete
          </a>
        </div>
      </div>
      <br>

    </li>
  </ul>

  {% endfor %}

  <br>
  <div style="text-align:center;">
    <button type="button" class="btn btn-primary">
      <a href="{% url 'add-author' %}">Add new</a>
    </button>
  </div>
</div>
{% endblock %}
